.Business {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.66rem;
    margin: 0 .5rem 3rem .5rem;
    font-family: "Georgia";
  }
  
  .Business .image-container {
    height: 16.66rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 0;
  }
  
  .Business h2 {
    margin-bottom: .5rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: #242f40;
    font-family: Poppins;
  }

  a:link {
    color: #242f40;
  }

  a:visited {
    color: #363636;
  }

  a:hover {
    color: #CCA43B;
  }
  
  .Business-information {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
  }
  
  .Business-information p {
    font-size: .88rem;
    font-weight: 300;
    line-height: 1rem;
  }
  
  .Business-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .Business-reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }
  
  .Business-reviews h3 {
    color: #CCA43B;
    font-weight: 600;
    font-family: Poppins;
  }
  
  .Business-reviews .rating {
    font-size: .88rem;
    line-height: 1rem;
  }

  .business-img {
    display: block;
  }

  .overlay {
    font-family: Poppins;
    position: absolute; 
    bottom: 40%; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    color: #CCA43B; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: #CCA43B;
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
  }

  .image-container:hover .overlay {
    opacity: 1;
  }

@media only screen and (max-width: 800px) {

  .Business-information {
    padding-bottom: 2rem;
    border-bottom: 3px double #cccccc;
  }

}